@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #ededed;
  background: #d8d5a7;
}

/* Resto do seu CSS aqui */

/* Adicione a seção de estilos para o carrossel abaixo */
/* Estilos para o carrossel */
.slider {
    width: 100%;
}

.slider img {
    width: 100%;
}

.prev,
.next {
    display: inline-block;
    margin: 10px;
    background: #d8d5a7;
    color: #000;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.prev:hover,
.next:hover {
    background: #9b9975;
}

/* Estilo para a imagem principal */
.product-main-image img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/* Outros estilos específicos para o conteúdo dentro do container podem ser adicionados aqui */
.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    background: #ffffff;
    color: #21201e;
    text-align: center;
    width: 100%;
    padding: 2rem;
    border-radius: 1.2rem;
    margin: 2rem;
}

.product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-images img {
    height: 200px;
    margin: 1rem;
    transition: all 0.3s;
}

.product-main-image {
    flex: 1;
}

.product-description {
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #78b159;
    border-radius: 10px;
    color: #000;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #000;
}

.product-images,
.product-main-image,
.product-description {
    flex: 1;
    margin: 0 10px;
}
/* Fim do estilo do carrossel */

/* Resto do seu CSS aqui */
